<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: 'Conocenos' , styles: ['index']}) %>

    <body>

        <%- include('partials/header') %>

            <section class="middleAboutUs">

                <aside class="aboutUs">

                    <section class="logoAbout">
                    
                        <img class="logoSearch" src="/images/logo/logoprueba.jpg" alt="logo">
                    </section>


                    <section>
                        <h2>Sobre nosotros</h2>
                        <p>Bienvenido/a a Mundo Tech, tu tienda online de confianza para la compra de celulares,
                            computadoras y tabletas en la ciudad de Bogotá. Estamos comprometidos en ofrecer la mejor
                            selección de dispositivos electrónicos y brindar un excelente servicio al cliente, mas que
                            un
                            porducto, un estilo de vida .</p>
                    </section>

                    <section>
                        <h2>Nuestra misión</h2>
                        <p>Nuestra misión es proporcionar a nuestros clientes productos de alta calidad a precios
                            competitivos, garantizando la satisfacción de cada compra. Nos esforzamos por mantenernos
                            actualizados con las últimas tendencias tecnológicas y ofrecer un catálogo diverso para
                            satisfacer las necesidades de nuestros clientes.</p>
                    </section>

                    <section>
                        <h2>Nuestro equipo</h2>
                        <p>Soy Deyler Omar Vivas, desarrollador Full Stack y fundador de esta tienda. Junto a un equipo
                            de
                            profesionales apasionados por la tecnología, trabajamos arduamente para asegurarnos de que
                            tu
                            experiencia de compra sea excepcional en todos los aspectos.</p>
                    </section>

                    <section>
                        <h2>Bases legales</h2>
                        <p>Mundo Tech es una empresa legalmente constituida en Colombia, con sede en la ciudad de
                            Bogotá, Barrio Cedritos. Nuestro NIT es 14358236-0. Cumplimos con todas las regulaciones y
                            leyes
                            aplicables para
                            el comercio electrónico, incluyendo la protección de datos personales y la seguridad en las
                            transacciones.</p>
                    </section>

                </aside>

                <section class="mapHidden">

                    <section class="addressInfo">


                        <h1>Ven a nuestras tiendas</h1>
                        <p>
                            Cra 12 a #155 -25

                        </p>
                        <p>
                            Nuestros horarios son de lunes a sabados entre las 8am a 5:30 pm
                        </p>

                        <h2> Mapa en tiempo Real </h2>
                        <iframe class="map"
                            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2811.6007217053116!2d-74.0351303650089!3d4.73461486266505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1687189517247!5m2!1ses!2sco"
                            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </section>

                </section>
            </section>
            <%- include('partials/footer') %>

    </body>

</html>








</html>