<div class="carousel-container">

    <!------------------------------ primer carrousel  -->

<section class="carouselTitle">
    <h1> Trending </h1>
        <p> Los productos con mayor relevancia del año</p>
            </section>

    <div class="carousel">

        <div class="trending">
            <p class="linkRoute"> <a href="/"> Celulares >  </a> </p>
                <img src="/images/phones/iphone/iphone14ProMx.jpg" />
                    <h3><a href="/">Iphone 14 Pro max</a></h3>
                        <p>Precio: $6.149.000</p>
                            </div>

        <div class="trending">
            <p class="linkRoute"> <a href="/"> Celulares >  </a> </p>
                <img src="/images/phones/samsung/galaxyS23U.jpg" />
                    <h3><a href="/">Samsung Galaxy S23 Ultra</a></h3>
                        <p>Precio: $5.650.000</p>
                            </div>

        <div class="trending">
            <p class="linkRoute"> <a href="/"> Celulares >  </a> </p>
                <img src="/images/phones/xioami/Redmi/note12ProP.jpeg" />
                    <h3><a href="/">Xiaomi Redmi Note 12 Pro+</a></h3>
                        <p>Precio: $1.700.000</p>
                            </div>

        <div class="trending">
            <p class="linkRoute"> <a href="/"> Celulares >  </a> </p>
                <img src="/images/phones/realme/realme9Pro.jpg" />
                    <h3><a href="/">Realme 9 Pro </a></h3>
                        <p>Precio: $1.050.000</p>
                            </div>


        <div class="trending">
            <p class="linkRoute"> <a href="/"> Celulares >  </a> </p>
                <img src="/images/phones/samsung/galaxyZF4.jpeg" />
                    <h3><a href="/">Samsung Galaxy Z Flip 4 </a></h3>
                        <p>Precio: $3.500.00</p>
                            </div>

        <div class="trending">
            <p class="linkRoute"> <a href="/"> Celulares >  </a> </p>
                <img src="/images/phones/iphone/iphone13ProMx.jpg" />
                    <h3><a href="/">Iphone 13 Pro max </a></h3>
                        <p>Precio: $5.250.000</p>
                            </div> 
                        
        <div class="trending">
            <p class="linkRoute"> <a href="/"> Celulares >  </a> </p>
                <img src="/images/phones/xioami/Redmi/redmi-N11-ProPlus.jpg" />
                    <h3><a href="/"> Xioami Redmi Note 11 Pro+ </a></h3>
                        <p>Precio: $1.450.000</p>
                            </div>
                        
        <div class="trending">
            <p class="linkRoute"> <a href="/"> Celulares >  </a> </p>
                <img src="/images/phones/samsung/galaxyZFl4.jpg" />
                    <h3><a href="/">Samsung Galaxy Z Fold 4 </a></h3>
                        <p>Precio: $6.649.00</p>
                            </div>

    </div>

    <div class="carouselButtons"> 
        <button id='prev' class="fa-solid fa-circle-chevron-left btn"> </button>
            <button id='next' class="fa-solid fa-circle-chevron-right btn "> </button>
    </div>

<!-------------------------------------- segundo carrousel  -->

<section class="carouselTitle">
    <h1> Ofertas Imperdibles </h1>
        <p> Para dar un obsequio en esas fechas especiales </p>
            </section>       

    <div class="carouselTwo">

        <div class="trendingTwo">
            <p class="linkRoute"> <a href="/"> Celulares >  </a> </p>
                <img src="/images/phones/iphone/iphone14ProMx.jpg" />
                    <h3><a href="/">Iphone 14 Pro max</a></h3>
                        <p>Precio: $6.149.000</p>
                            </div>

        <div class="trendingTwo">
            <p class="linkRoute"> <a href="/"> Celulares >  </a> </p>
                <img src="/images/phones/samsung/galaxyS23U.jpg" />
                    <h3><a href="/">Samsung Galaxy S23 Ultra</a></h3>
                        <p>Precio: $5.650.000</p>
                            </div>

        <div class="trendingTwo">
            <p class="linkRoute"> <a href="/"> Celulares >  </a> </p>
                <img src="/images/phones/xioami/Redmi/note12ProP.jpeg" />
                    <h3><a href="/">Xiaomi Redmi Note 12 Pro+</a></h3>
                        <p>Precio: $1.700.000</p>
                            </div>

        <div class="trendingTwo">
            <p class="linkRoute"> <a href="/"> Celulares >  </a> </p>
                <img src="/images/phones/realme/realme9Pro.jpg" />
                    <h3><a href="/">Realme 9 Pro </a></h3>
                        <p>Precio: $1.050.000</p>
                            </div>


        <div class="trendingTwo">
            <p class="linkRoute"> <a href="/"> Celulares >  </a> </p>
                <img src="/images/phones/samsung/galaxyZF4.jpeg" />
                    <h3><a href="/">Samsung Galaxy Z Flip 4 </a></h3>
                        <p>Precio: $3.500.00</p>
                            </div>

        <div class="trendingTwo">
            <p class="linkRoute"> <a href="/"> Celulares >  </a> </p>
                <img src="/images/phones/iphone/iphone13ProMx.jpg" />
                    <h3><a href="/">Iphone 13 Pro max </a></h3>
                        <p>Precio: $5.250.000</p>
                            </div> 
                        
        <div class="trendingTwo">
            <p class="linkRoute"> <a href="/"> Celulares >  </a> </p>
                <img src="/images/phones/xioami/Redmi/redmi-N11-ProPlus.jpg" />
                    <h3><a href="/"> Xioami Redmi Note 11 Pro+ </a></h3>
                        <p>Precio: $1.450.000</p>
                            </div>
                        
        <div class="trendingTwo">
            <p class="linkRoute"> <a href="/"> Celulares >  </a> </p>
                <img src="/images/phones/samsung/galaxyZFl4.jpg" />
                    <h3><a href="/">Samsung Galaxy Z Fold 4 </a></h3>
                        <p>Precio: $6.649.00</p>
                            </div>

    </div>

    <div class="carouselButtons"> 
        <button id='prev2' class="fa-solid fa-circle-chevron-left btn"> </button>
            <button id='next2' class="fa-solid fa-circle-chevron-right btn "> </button>
    </div>
   
<!-- ----------------- tercer carrousel  -->

<section class="carouselTitle">
    <h1> Accesorios </h1>
        <p> Complementa tu estilo </p>
            </section>

    <div class="carouselThree">

        <div class="trendingThree">
            <p class="linkRoute"> <a href="/"> Celulares >  </a> </p>
                <img src="/images/phones/iphone/iphone14ProMx.jpg" />
                    <h3><a href="/">Iphone 14 Pro max</a></h3>
                        <p>Precio: $6.149.000</p>
                            </div>

        <div class="trendingThree">
            <p class="linkRoute"> <a href="/"> Celulares >  </a> </p>
                <img src="/images/phones/samsung/galaxyS23U.jpg" />
                    <h3><a href="/">Samsung Galaxy S23 Ultra</a></h3>
                        <p>Precio: $5.650.000</p>
                            </div>

        <div class="trendingThree">
            <p class="linkRoute"> <a href="/"> Celulares >  </a> </p>
                <img src="/images/phones/xioami/Redmi/note12ProP.jpeg" />
                    <h3><a href="/">Xiaomi Redmi Note 12 Pro+</a></h3>
                        <p>Precio: $1.700.000</p>
                            </div>

        <div class="trendingThree">
            <p class="linkRoute"> <a href="/"> Celulares >  </a> </p>
                <img src="/images/phones/realme/realme9Pro.jpg" />
                    <h3><a href="/">Realme 9 Pro </a></h3>
                        <p>Precio: $1.050.000</p>
                            </div>


        <div class="trendingThree">
            <p class="linkRoute"> <a href="/"> Celulares >  </a> </p>
                <img src="/images/phones/samsung/galaxyZF4.jpeg" />
                    <h3><a href="/">Samsung Galaxy Z Flip 4 </a></h3>
                        <p>Precio: $3.500.00</p>
                            </div>

        <div class="trendingThree">
            <p class="linkRoute"> <a href="/"> Celulares >  </a> </p>
                <img src="/images/phones/iphone/iphone13ProMx.jpg" />
                    <h3><a href="/">Iphone 13 Pro max </a></h3>
                        <p>Precio: $5.250.000</p>
                            </div> 
                        
        <div class="trendingThree">
            <p class="linkRoute"> <a href="/"> Celulares >  </a> </p>
                <img src="/images/phones/xioami/Redmi/redmi-N11-ProPlus.jpg" />
                    <h3><a href="/"> Xioami Redmi Note 11 Pro+ </a></h3>
                        <p>Precio: $1.450.000</p>
                            </div>
                        
        <div class="trendingThree">
            <p class="linkRoute"> <a href="/"> Celulares >  </a> </p>
                <img src="/images/phones/samsung/galaxyZFl4.jpg" />
                    <h3><a href="/">Samsung Galaxy Z Fold 4 </a></h3>
                        <p>Precio: $6.649.00</p>
                            </div>

    </div>

    <div class="carouselButtons"> 
        <button id='prev3' class="fa-solid fa-circle-chevron-left btn"> </button>
            <button id='next3' class="fa-solid fa-circle-chevron-right btn "> </button>
    </div>

</div>

<script src="/js/carrousel.js"></script>