<div class="carousel-container">

    <!------------------------------ primer carrousel  -->

    <h1> Trending </h1>

    <div class="carousel">

        <div class="trending">
            <img src="/images/phones/iphone/iphone14ProMx.jpg" />
                <h3> Iphone 14 Pro max 256gb </h3>
                    <p>Precio: $6.149.000</p>
                        </div>

        <div class="trending">
            <img src="/images/phones/samsung/galaxyS23U.jpg" />
                <h3> Samsung Galaxy S23 Ultra 512gb  </h3>
                    <p>Precio: $5.650.000</p>
                        </div>

        <div class="trending">
            <img src="/images/phones/iphone/iphone14ProMx.jpg" />
                <h3> Iphone 14 Pro max 256gb </h3>
                    <p>Precio: $6.149.000</p>
                        </div>

        <div class="trending">
            <img src="/images/phones/realme/realme9Pro.jpg" />
                <h3> Realme 9 Pro 128gb </h3>
                    <p>Precio: $1.050.000</p>
                        </div>

        <div class="trending">
            <img src="/images/phones/samsung/galazyZF4.jpeg" />
                <h3> Samsung Galaxy Z Flip 4 128gb </h3>
                    <p>Precio: $3.500.00</p>
                        </div>
    </div>
<!-------------------------------------- segundo carrousel  -->

    <h1> Ofertas Imperdibles </h1>
    
    <div class="carousel">

        <div class="trending">
            <img src="/images/phones/iphone/iphone14ProMx.jpg" />
                <h3> Iphone 14 Pro max 256gb </h3>
                    <p>Precio: $6.149.000</p>
                        </div>

        <div class="trending">
            <img src="/images/phones/samsung/galaxyS23U.jpg" />
                <h3> Samsung Galaxy S23 Ultra 512gb  </h3>
                    <p>Precio: $5.650.000</p>
                        </div>

        <div class="trending">
            <img src="/images/phones/iphone/iphone14ProMx.jpg" />
                <h3> Iphone 14 Pro max 256gb </h3>
                    <p>Precio: $6.149.000</p>
                        </div>

        <div class="trending">
            <img src="/images/phones/realme/realme9Pro.jpg" />
                <h3> Realme 9 Pro 128gb </h3>
                    <p>Precio: $1.050.000</p>
                        </div>

        <div class="trending">
            <img src="/images/phones/samsung/galazyZF4.jpeg" />
                <h3> Samsung Galaxy Z Flip 4 128gb </h3>
                    <p>Precio: $3.500.00</p>
                        </div>
    </div>

    <!------------------- tercer carrousel  -->

    <h1> Accesorios </h1>
    
    <div class="carousel">

        <div class="trending">
            <img src="/images/phones/iphone/iphone14ProMx.jpg" />
                <h3> Iphone 14 Pro max 256gb </h3>
                    <p>Precio: $6.149.000</p>
                        </div>

        <div class="trending">
            <img src="/images/phones/samsung/galaxyS23U.jpg" />
                <h3> Samsung Galaxy S23 Ultra 512gb  </h3>
                    <p>Precio: $5.650.000</p>
                        </div>

        <div class="trending">
            <img src="/images/phones/iphone/iphone14ProMx.jpg" />
                <h3> Iphone 14 Pro max 256gb </h3>
                    <p>Precio: $6.149.000</p>
                        </div>

        <div class="trending">
            <img src="/images/phones/realme/realme9Pro.jpg" />
                <h3> Realme 9 Pro 128gb </h3>
                    <p>Precio: $1.050.000</p>
                        </div>

        <div class="trending">
            <img src="/images/phones/samsung/galazyZF4.jpeg" />
                <h3> Samsung Galaxy Z Flip 4 128gb </h3>
                    <p>Precio: $3.500.00</p>
                        </div>
    </div>

    <script src="/js/carrousel.js"></script>

</div>