<%- include('partials/head', {title: 'headSide' , styles: ['home']}) %>

<body>

    <%- include('partials/header') %>
    <%- include('partials/filters') %>

    <main>
        <%- include('sliderBanner') %> 
     









<!-- esto es el contenido de mi proyecto  -->











    </main>

</body>