<!DOCTYPE html>
<html lang="es">

    <%- include('partials/head') %>
        <div class="notFoundContainer">
            <span class="not-found">404! </span>
            <p> No hemos podido encontrar esta pagina</p> <br>
        </div>

</html>