<div class="slider-frame">
    <ul>
        <li><img src="/images/banners/celulares.jpg" alt=""> </li>
            <li><img src="/images/banners/fundas.jpg" alt=""> </li>
                <li><img src="/images/banners/laptop.jpg" alt=""> </li>
                    <li><img src="/images/banners/headphones.jpg" alt=""></li>
    </ul>
    
</div>