
body{
    display: flex;
    justify-content: center; 
    flex-direction: column;
}

.bannerBottom img{
    max-width: 100%;
}

.shippingContainer{
    display: flex;
	padding: 1rem;
	margin: 15px;
    flex-direction: row-reverse;
}

.shipping{
    text-align: center;
    margin-left: 10px;
    padding: 10px;
    box-shadow: 0px 0px 12px -3px #777;
}

.shipping p{
    text-align: justify;
    font-size: 13px;
	color: gray ;
}

.icn{
    color: black;
    margin: 10px 0px;
      
}

.payments{
    text-align: center;
    color: gray ;
}

.payments img{
    margin: 10px 0px;
    max-width: 100%;
}

@media (min-width: 769px) {

    .shippingContainer{
        margin-left: -15px;
        margin-right: 20px;
    }
}

/* ----------- desktop queries --------------- */

@media (min-width: 900px) {

    html {
        font-size: 25px;
    }
    
    p {
        font-size: 30px;
    }

    .bannerBottom img {
        height: 500px;
    }

    .shipping p {
        font-size: 30px;
    }

    .payments h3 {
        font-size: 45px;
    }

    .payments img {
        margin: 25px 0px;
        max-width: 100%;
        height: 180px;
    }

}


