* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul ,li {
    color: #fff;
    list-style: none;
    text-align: center;
    justify-content: space-between
}

header{
    background-image: url("/images/background/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    
}

.headerContainer{
    display: flex;
    align-items: center;
    margin: 1px;
    justify-content: space-evenly;
}

.menu{
    position: fixed;
    width: 160px;
    height: 21%;
    background-color: rgba(37, 37, 37, 0.88);
    left: -200px;
}   

.menu ul li {
    color: #fff;
    list-style: none;
    text-align: left;
    padding: 15px 5px;
    border-bottom: 1px solid rgb(100, 100, 100, .88);
  }

.mostrar2{
    left:0;
}


.aboutUs{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

.aboutUs li {
    font-size: small;
    margin-right: 10px;
}


.logo{
    border-radius: 65px;
    height: 65px;
    width: 65px;    
}

button {
    border-radius: 20px;
    color: lightslategray;
    width: 35px;
    border-color: lightgray
}

.filtersButtonsContainer {
    position: absolute;
    top: 90px;
    right: 55px;
}

.mobile, .desktop, .accesories{
    position: fixed;
    width: 85px;
    height: 20%;
    background-color: rgba(37, 37, 37, 0.88);
    right: -200px;
  }

.mobile{
    margin-top: 10px;
    margin-right: 85px;
  }

.desktop{
    margin-top: 10px;
    margin-right: 50px;
}

.accesories{
    margin-top: 10px;
    margin-right: 20px;
}

.mostrar{
    right: 0;
  }

.filtersBrandscontainer{
    display: flex;
    flex-direction: column;
}

.brandImages{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 15px;
}

.brandImages img{
    margin: 15px;
    width: 50px;
    height: 25px;
}

.filtersContainer img{
    max-width: 100%;
}



