ul ,li {
    color: #fff;
    list-style: none;
    text-align: center;
    justify-content: space-between
}

header{
    background-image: url("/images/background/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    
}

.headerContainer{
    display: flex;
    align-items: center;
    margin-left: 5px;
    justify-content: space-evenly;
}

.menu{
    position: fixed;
    width: 147px;
    height: 21%;
    background-color: rgba(226,122,163, 0.8);
    box-shadow: 0px 0px 15px -2px #fff;
    border-radius: 18px;
    left: -200px;
    margin-top: 5px;
}   

.mostrar2 {
    left:0;

}
    
.aboutUs{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

.aboutUs li {
    font-size: small;
    margin-right: 10px;
}


.logo{
    border-radius: 65px;
    height: 65px;
    width: 65px;    
}
/*--------- Filter container -----------------*/

.filtersButtonsContainer {
    position: absolute;
    top: 100px;
    right: 25px;
}

button {
    border: white 1px groove;
    box-shadow: 0px 0px 15px -2px #fff;
    background-color: transparent;
    border-radius: 20px;
    color: aliceblue;
    width: 35px;
    height: 20px;
    margin-left: 15px;
}

.mobile, .desktop, .accesories{
    position: fixed;
    width: 90px;
    height: 17%;
    background-color: lightsteelblue ;
    border-radius: 18px;
    margin-top: 5px;
    right: -200px;
  }

.mobile{
    margin-top: 10px;
    margin-right: 85px;
  }

.desktop{
    margin-top: 10px;
    margin-right: 50px;
}

.accesories{
    margin-top: 10px;
    margin-right: 20px;
}

.mostrar{
    right: 0;
  }

.filtersBrandscontainer{
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: center;
    
}

.brandImages{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 15px;
}

.brandImages img{
    margin: 15px;
    width: 50px;
    height: 25px;
}

.filtersContainer img{
    max-width: 100%;
}

/* ------------footer container ------------------*/

footer{
    background-image: url("/images/background/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: #fff;
    text-align: center;
}

.footerTittle{
    margin: 40px 0px;
}

.details{
    box-shadow: 0px 0px 20px -2px #fff;
    border-radius: 12px;
    padding: 10px;
    margin: 15px;
}

.details h3 {
    border-bottom: #fff 1px dotted;
    margin-bottom: 10px;
}

.details h4, .listInfo, .listConditions{
    font-size: 13px;
}

/* break points ----- */

@media (min-width: 650px){

	.filtersButtonsContainer {
        top: 130px;
		right: 55px;
	}

    .filtersButtonsContainer button {
		width: 55px;
    	height: 30px;
	}

    .desktop{
        margin-right: 100px;
    }

    .detailsContainer{
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        justify-content: space-around;
    }

}

/* Tablet queries ---------- */

@media (min-width: 769px) {

    .headerContainer{
        height: 100px;
    }

	.aboutUs li {
        font-size: 20px;
        margin-right: 15px;
    }

    .brandImages img {
        
        height: 60px;
    }
    
    .shippingContainer{
        margin-right: -10px;
        margin-left: 5px;
        
    }
}


/* ---------------desktop queries---------------- */

@media (min-width: 900px){

    html {
        font-size: 25px;
    }
    
    p {
        font-size: 30px;
    }

    .headerContainer{
        height: 150px;
    }

	.aboutUs li {
        font-size: 25px;
        margin-right: 35px;
    }

    .filtersButtonsContainer {
        top: 200px;
        right: 100px;
    }

    .filtersButtonsContainer button {
        width: 80px;
        height: 45px;
    }

    .filtersBrandscontainer {
        height: 120px;
    }

    .brandImages img {
        width: 100px;
        height: 80px;
    }

    .footerTittle h1{
        font-size: 50px;
        border-bottom: 3px dotted lightgray;
    }

    .detailsContainer {
        flex-wrap: nowrap;
        flex-direction: row-reverse;
    }

    .details {
        box-shadow: 0px 0px 100px -2px lightgray;
    }

    .details h4, .listInfo, .listConditions {
        font-size: 20px;
    }
}
