/* break points ----- */

@media (min-width: 461px) {

    .slider-frame img {
        height: 250px;
    }

    .trending,
    .trendingTwo,
    .trendingThree {
        width: calc(94% / 4);
        text-align: center;
    }


}


@media (min-width: 650px) {


    nav img {
        display: block !important;
    }

    .fa-bars,
    .hiddenIcons {
        display: none !important;
    }

    nav .menuProfileContainer {
        margin-right: 50px;
        display: flex !important;

    }


    nav {
        flex-direction: row !important;
        justify-content: space-between !important;
    }

    nav img {
        margin-bottom: 0px;
    }

    .loginIcon {
        position: absolute;
        top: -1px;
        right: -5px;
    }

    .brand {
        padding: 0px 20px;
    }

    /* /--------* footer */

    .footerTop {
        display: flex;
    }

    .logofoot {
        width: 60%
    }

    .detailsContainer {
        margin-top: 15%;
        padding: 20px;
    }

    .detailTittle {
        display: block;
        font-size: 22px;
    }



}

/* Tablet queries ---------- */

@media (min-width: 768px) {

    .menu-nav i {
        display: block !important;
    }


    .brandImages img {
        height: 60px;
    }

    .shippingContainer {
        margin-left: -15px;
        margin-right: 20px;
    }

    .productImg {
        width: 422px !important;
    }

    #iconShopping {
        right: -52% !important;
    }

    .InfoDetailed {
        display: flex;
        justify-content: flex-end;
        text-align: center;
    }

    .InfoDetailed p {
        color: gainsboro;
    }

    .productList {
        width: 33%;
    }

    .wholeInfo {
        font-size: 18px;
        background: url("/images/background/back.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: unset;
        box-shadow: inset 0px 13px 20px 3px rgba(2, 2, 2, 0.50);
    }

    .ProductsDetailsContainer h4 {
        padding: 25px !important;
    }

    .fa-cart-shopping {
        font-size: 28px !important;
        padding: 11px !important;
        width: 56px !important;
        height: 51px !important;
        right: -10px !important;
        top: -15px !important;
    }

    .carousel,
    .carouselTwo,
    .carouselThree {
        margin-left: 35px;
    }

    .trending,
    .trendingTwo,
    .trendingThree {
        width: calc(97% / 3) !important;
        text-align: center;
    }

    .trending img,
    .trendingTwo img,
    .trendingThree img {
        width: 186px !important;
        height: 200px !important;
        border: none;
    }

    #prev,
    #prev2,
    #prev3 {
        margin-left: 2px;
    }

    #next,
    #next2,
    #next3 {
        margin-right: 10px;
    }

    /* footer /////  */

    footer p {
        font-size: 15px;
    }

    footer h3 {
        font-size: 22px;
    }

    .footerForm {
        align-items: flex-start;
        margin-left: 16%;
    }

    .footerFormInput {
        width: 100%;
        height: 40px;

    }

    .footerFormButton {
        height: 40px;
        font-size: 1.1rem;
        padding: 0px 20px;
    }
}



/* ---------------desktop queries---------------- */

@media (min-width: 1024px) {

    .menuSearchContainer ul li {
        height: 43px;
        margin: 10px 0;
    }

    .productList {
        width: 25%;
    }

    #iconShopping {
        right: -41% !important;
    }

    .wholeInfo {
        font-size: 25px;
    }

    .brandImages img {
        width: 100px;
        height: 80px;
    }

    .slider-frame img {
        height: 400px;
        text-align: center;

    }

    .carouselTitle {
        height: 60px !important;
        padding: 9px;
    }

    .trending,
    .trendingTwo,
    .trendingThree {
        width: calc(73% / 3) !important;
        padding: 2rem !important;
        box-shadow: inset 0px 1px 5px 0px rgba(2, 2, 2, 0.50);
    }

    .trending p,
    .trendingTwo p,
    .trendingThree p {
        font-size: 25px;

    }

    

    .trending h3,
    .trendingTwo h3,
    .trendingThree h3 {
        font-size: 30px;
    }


    .bannerBottom img {
        height: 500px;
    }

    .shipping p {
        font-size: 30px;
    }

    .payments h3 {
        font-size: 45px;
    }

    .payments img {
        margin: 25px 0px;
        max-width: 100%;
        height: 180px;
    }

    .filtersButtonsContainer {
        top: 200px;
        right: 100px;
    }

    .filtersButtonsContainer button {
        width: 80px;
        height: 45px;
    }

    .filtersBrandscontainer {
        height: 120px;
    }

    .brandImages img {
        width: 100px;
        height: 80px;
    }

    /* ///// footer  */

    footer p {
        font-size: 20px;
    }

    footer h3 {
        font-size: 25px;
    }

    .logofoot {
        width: 45%
    }

    .detailsContainer {
        margin-top: 8%;
    }
}

@media (min-width: 1440px) {

    #iconShopping {
        right: -29% !important;
    }

}