/* break points ----- */

@media (min-width: 461px) {

    .slider-frame img {
        height: 250px;
    }

    .trending,
    .trendingTwo,
    .trendingThree {
        width: calc(94% / 4);
        text-align: center;
    }


}


@media (min-width: 650px) {


    nav img {
        display: block !important;
    }

    .fa-bars,
    .hiddenIcons {
        display: none !important;
    }

    nav .menuProfileContainer {
        margin-right: 50px;
        display: flex !important;

    }


    nav {
        flex-direction: row !important;
        justify-content: space-between !important;
    }

    nav img {
        margin-bottom: 0px;
    }

    .loginIcon {
        position: absolute;
        top: -1px;
        right: -5px;
    }

    .brand {
        padding: 0px 20px;
    }

    /* /--------* footer */

    .footerTop {
        display: flex;
    }

    .logofoot {
        width: 60%
    }

    .detailsContainer {
        margin-top: 15%;
        padding: 20px;
    }

    .detailTittle {
        display: block;
        font-size: 22px;
    }



}

/* Tablet queries ---------- */

@media (min-width: 768px) {

    .menu-nav i {
        display: block !important;
    }


    .brandImages img {
        height: 60px;
    }

    .shippingContainer {
        margin-left: -15px;
        margin-right: 20px;
    }

    #buttonAdm {
        right: -42% !important;
        margin-top: 20px !important;
        margin-bottom: 10px !important;
    }

    .productImg {
        width: 422px !important;
    }

    #iconShopping {
        right: -52% !important;
    }

    .InfoDetailed {
        display: flex;

    }

    .productImgDescription {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: inset 3px -7px 20px 0px rgba(2, 2, 2, 0.50);
        padding: 15px;
    }

    .productList {
        width: 33% !important;
    }

    .wholeInfo {
        font-size: 18px;
        background: url(/images/background/back.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: unset;
        padding: 20px;
        color: gainsboro;
    }

    .ProductsDetailsContainer h4 {
        padding: 19px !important;
    }

    .fa-cart-shopping {
        font-size: 24px !important;
        padding: 8px !important;
        width: 49px !important;
        height: 39px !important;
        right: -1px !important;
        top: -28px !important;
    }

    .productButtonsContainer {
        position: absolute;
        bottom: 36%;
        left: 26%;
    }

    .carousel,
    .carouselTwo,
    .carouselThree {
        margin-left: 35px;
    }

    .trending,
    .trendingTwo,
    .trendingThree {
        width: calc(97% / 3) !important;
        text-align: center;
    }

    .trending img,
    .trendingTwo img,
    .trendingThree img {
        width: 186px !important;
        height: 200px !important;
        border: none;
    }

    #prev,
    #prev2,
    #prev3 {
        margin-left: 2px;
    }

    #next,
    #next2,
    #next3 {
        margin-right: 10px;
    }

    /* login Register vista */

    .user {
        width: 97% !important;
        margin-bottom: 12% !important;
    }

    .user_options-forms .forms_title {
        margin-left: 10px !important;
        font-size: 3.5rem !important;
    }

    .user_options-forms .forms_field:not(:last-of-type) {
        margin-bottom: 35px !important;
    }

    .user_options-forms .user_forms-signup,
    .user_options-forms .user_forms-login {
        left: 38px !important;
        width: calc(138% - 189px) !important;
    }

    .user_options-forms {
        margin-left: -3%;
    }

    .user_options-forms .forms_buttons {
        align-items: flex-end !important;
        flex-direction: column !important;
        align-content: center !important;
        justify-content: center !important;
        flex-wrap: wrap !important;
    }

    .user_options-registered,
    .user_options-unregistered {
        padding: 101px 63px !important;
    }


    /* footer /////  */

    footer p {
        font-size: 15px;
    }

    footer h3 {
        font-size: 22px;
    }

    .footerForm {
        align-items: flex-start;
        margin-left: 16%;
    }

    .footerFormInput {
        width: 100%;
        height: 40px;

    }

    .footerFormButton {
        height: 40px;
        font-size: 1.1rem;
        padding: 0px 20px;
    }
}



/* ---------------desktop queries---------------- */

@media (min-width: 1024px) {

    .menuSearchContainer ul li {
        height: 43px;
        margin: 10px 0;
    }

    #buttonAdm {
        right: -11% !important;
        font-size: 29px;
    }

    .productList {
        width: 25% !important;
    }

    #iconShopping {
        right: -41% !important;
    }

    .wholeInfo {
        font-size: 25px;
    }

    .brandImages img {
        width: 100px;
        height: 80px;
    }

    .slider-frame img {
        height: 400px;
        text-align: center;

    }

    .carouselTitle {
        height: 60px !important;
        padding: 9px;
    }

    .productButtonsContainer {
        bottom: 37%;
        left: 26%;
    }

    .productImgDescription {
        padding: 1%;
        font-size: 22px;
    }

    .productButtons {
        padding: 0 31% !important;
    }

    .trending,
    .trendingTwo,
    .trendingThree {
        width: calc(73% / 3) !important;
        padding: 2rem !important;
        box-shadow: inset 0px 1px 5px 0px rgba(2, 2, 2, 0.50);
    }

    .trending p,
    .trendingTwo p,
    .trendingThree p {
        font-size: 25px;

    }



    .trending h3,
    .trendingTwo h3,
    .trendingThree h3 {
        font-size: 30px;
    }


    .bannerBottom img {
        height: 500px;
    }

    .shipping p {
        font-size: 30px;
    }

    .payments h3 {
        font-size: 45px;
    }

    .payments img {
        margin: 25px 0px;
        max-width: 100%;
        height: 180px;
    }


    .brandImages img {
        width: 100px;
        height: 80px;
    }

    /* login Register view  */


    .user {
        height: 417px !important;
        width: 93% !important;
        margin-bottom: 12% !important;
        
    }

    .user_options-forms .user_forms-signup,
    .user_options-forms .user_forms-login {
        width: calc(132% - 207px) !important;
    }

    .user_options-forms {
        width: calc(57% - 31px);
        margin-left: 0%;

    }

    .user_options-registered, .user_options-unregistered {
        padding: 123px 63px !important;
    }


    /* ///// footer  */

    footer p {
        font-size: 20px;
    }

    footer h3 {
        font-size: 25px;
    }

    .logofoot {
        width: 45%
    }

    .detailsContainer {
        margin-top: 8%;
    }
}

@media (min-width: 1440px) {

    #iconShopping {
        right: -29% !important;
    }

    .productTitle {
        font-size: 33px !important;
        margin-top: 4px !important;
    }

    #buttonAdm {
        right: -12% !important;
        padding: 0 30% !important;
        font-size: 35px;
    }

    .productButtonsContainer {
        bottom: 35%;
        left: 28%;
    }

    .productButtons {
        padding: 0 50% !important;
    }

    .productImg {
        width: 80% !important
    }

    .productImgDescription {
        padding: 1%;
        font-size: 32px;
    }

    .wholeInfo {
        font-size: 38px;
    }

}