* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

.slider-frame {
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	height: 150px;
    width: 100%;
}

/* seccion de carruseles */

.carousel-container{
	margin-top: -3px;
}

.carouselTitle{
	background-image: url("/images/background/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
	color: white;
	padding-left: 20px;
}

.carouselTitle p{
	color: lightgray;
}

.carousel, .carouselTwo, .carouselThree {
	display: flex;
	margin: 0px 15px;
	overflow-x: hidden;
	transition: transform 0.5s ease-in-out;
}
  
.trending, .trendingTwo, .trendingThree {
	width: calc(96% / 3);
	flex: none;
	padding: 1rem;
	border: #9FD5D1 2px solid;
    border-radius: 18px;
    margin-right: 5px;
	margin-top: 5px;
    margin-bottom: 20px;
}

.trending h3, .trendingTwo h3, .trendingThree h3{
	font-size: 15px ;
}

.trending p, .trendingTwo p, .trendingThree p{
	font-size: 13px;
	color: gray ;
}

.trending img, .trendingTwo img, .trendingThree img{
	scroll-snap-align: start;
	width: 60px;
    height: 65px;
	border-bottom: #D3D3D3 1px solid;
	
  }

  
.btn, .btn2, .btn3 {
	position: absolute;
	transform: translateY(-50%);
	border: none;
    background-color: transparent;
}
  
#prev{
	bottom: 100px;
	left: -7px;
}

#prev2{
	bottom: -175px;
	left: -7px;
}

#prev3{
	bottom: -450px;
	left: -7px;
}
  
#next {
	right: 2px;
    bottom: 100px;
}

#next2{
	right: 2px;
    bottom: -175px;
}

#next3{
	right: 2px;
    bottom: -450px;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}