* {
    margin: 0;
    padding: 0;
}

.slider-frame {

	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	height: 150px;
    width: 100%;
}

/* Primer carousel  */

h1{
	text-align: center;
	color: violet;
}

.carousel-container {
	width: 100%;
  	overflow: hidden;
}

.carousel {
	display: flex;
	flex-direction: column; /*esto es mientras defino el carousel luego por defecto debe ir row */
	position: relative;
  }
  
.trending{
 	width: 100%;
  	padding: 2rem;
  	position: relative;
}

.trending img {
	width: 90%;
	height: 40%;
  }












@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}