<header >

    <div class="headerContainer">
        
        <div class="headerLogoContainer">
            <img class="logo" src="/images/logo/logoprueba.jpg" alt="logo">
                </div>

    <div class="headerAccess">
            <nav><a href="/">INICIO</a></nav>
            <nav><a href="#">¿QUIÉNES SOMOS?</a></nav>
            <nav><a href="/products">PRODUCTOS</a></nav>
    </div>

    <div class="headerButtonContainer">
            <button class="headerbuttons"><i class="fa-solid fa-magnifying-glass"></i></button>
                <!-- <form action="">           habra que usarlo luego supongo . 
                    <input class="searchBar" type="text" placeholder="  Que estas buscando...?" > </form> -->
        
                <button class="headerbuttons"><a href="/users/login"><i class="fa-solid fa-user"></i></a></button>
                    <button class="headerbuttons"><a href="/shoppingCar"><i class="fa-solid fa-cart-shopping"></i></a></button>
                        <button class="headerbuttons"><i class="fa-solid fa-star"></i></button>
                            </div>
                        
        

    </div>

</header>
