<header class="headerContainer" > 

    <section >
        <nav > 
        <i class="fa-sharp fa-solid fa-bars"></i> 
            <ul  class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="#">Categorias</a>
                <!-- First Tier Drop Down -->
                <ul>
                    <li><a href="#">Celulares</a></li>
                    <li><a href="#">Computadores</a></li>
                    <li><a href="#">Accesorios</a></li>
                </ul>        
                </li>
                <li><a href="/products">Productos</a>
                <!-- First Tier Drop Down -->
                <ul>
                    <li><a href="#">Accesorios</a></li>
                    <li><a href="#">Computadores</a></li>
                    <li><a href="#">Celulares</a>
                    <!-- Second Tier Drop Down -->
                    <ul>
                        <li><a href="#">Apple</a></li>
                        <li><a href="#">Samsung</a></li>
                        <li><a href="#">Huawei</a></li>
                        <li><a href="#">Realme</a></li>
                        <li><a href="#">Xioami</a></li>
                    </ul>
                    </li>
                </ul>
                </li>
                <li><a href="#aboutUs">Contactanos</a></li>
                <li><a href="#">Sobre Nosotros</a></li>
            </ul>
            <ul class="loginIcon"> 
                <li><a href="/users/loginRegister"> Iniciar session <i class="fa-solid fa-user"> </i> </a> </li>
                <li class="logged"><a href="/shoppingCar"> Carrito de compras <i class="fa-solid fa-cart-shopping"></i> </a> </li>
                <li class="logged"><a href="#"> Favoritos <i class="fa-solid fa-star"></i> </a> </li>
            </ul>
        </nav>
    
        <div class="headerLogoContainer">
            <img class="logo" src="/images/logo/footerlogo.png" alt="logo"><br>
                <form class="headerForm" action="/">
                    <input class="searchingBar" type="text" placeholder="Que estas buscando...">
                        <button class="headerButton"> <i class="fas fa-search"> </i> </button>
                </form>
        </div>
        <br>
    
    </section>

</header>

