<header class="headerContainer">

    <nav>
        <section class="smallScreen">
            <a><img src="/images/logo/footerlogo.png" /></a>
                <button id="showIcon" class="fa-sharp fa-solid fa-bars"> </button>
                    <div class="hiddenIcons" id="hiddenIcons">
                        <a href="/" class="smallIcons"> <i class="fa-sharp fa-solid fa-house"></i>
                        <a class="smallIcons"><i class="fa-solid fa-globe"></i>
                        <a href="/shoppingCar" class="smallIcons"><i class="fa-solid fa-bag-shopping"></i>
                            <% if (locals.userLogged) { %>
                        <a href="#" class="smallIcons"> <i class="fa-solid fa-star"></i>
                        <a class="smallIcons"> <i class="fa-solid fa-flag"></i>
                        <a href="/users/profile" class="smallIcons"> <i class="fa-solid fa-person"></i>
                        <a href="/users/logout" class="smallIcons"> <i class="fa-solid fa-right-from-bracket"></i>
                            <% } else { %>
                        <a href="/users/login" class="smallIcons"><i class="fa-solid fa-right-to-bracket"></i>
                        <a href="/users/register" class="smallIcons"> <i class="fa-solid fa-registered"></i>
                            <% } %>
                    </div>
        </section>
        <div class="menuProfileContainer">
            <a href="/" class="menu-nav" id="test"> <i class="fa-sharp fa-solid fa-house"></i>
                <p>Inicio</p>
            </a>
            <a class="menu-nav"><i class="fa-solid fa-globe"></i>
                <p>Sobre nosotros</p>
            </a>
            <a href="/shoppingCar" class="menu-nav"> <i class="fa-solid fa-bag-shopping"></i>
                <p>Mis compras</p>
            </a>
            <% if (locals.userLogged) { %>
                <a href="#" class="menu-nav"> <i class="fa-solid fa-star"></i>
                    <p> Favoritos </p>
                </a>
                <a class="menu-nav"> <i class="fa-solid fa-flag"></i>
                    <p>Notificaciones</p>
                </a>
                <a class="menu-nav"><i class="fa-solid fa-person"></i>
                    <label for="me-toggle"> Perfil </label>
                    <input id="me-toggle" type="checkbox" />
                    <div class="me-information-toggle">
                        <h3 id="mi-perfil">Mi Perfil</h3>
                        <% if (locals.userLogged) { %>
                            <h3 id="editar-producto">Editar un Producto</h3>
                            <h3 id="configuracion">Configuración</h3>
                            <!-- else adm -->
                            <h3 id="centro-ayuda">Centro de Ayuda</h3>
                            <h3 id="cerrar-sesion">Cerrar Sesión</h3>
                            <% } %>
                    </div>
                </a>
                <% } else { %>
                    <a href="/users/login" class="menu-nav"><i class="fa-solid fa-right-to-bracket"></i>
                        <p>Iniciar session</p>
                    </a>
                    <a href="/users/register" class="menu-nav"> <i class="fa-solid fa-registered"></i>
                        <p>Registrarse</p>
                    </a>
                    <% } %>

        </div>
    </nav>

</header>

<script src="/js/header.js"></script>