<%- include('../partials/head', {title: 'Perfil Usuarios' , styles: ['profile']}) %>
<body>
    

<div class="body-wrapper">

    <nav>
        <a><img src="/images/logo/footerlogo.png" /></a>
        <div class="menuProfileContainer">
            <a class="menu-nav" id="test"> <i class="fa-sharp fa-solid fa-house"></i>
                <p>Home</p>
            </a>
            <a class="menu-nav"><i class="fa-solid fa-globe"></i>
                <p>sobre nosotros</p>
            </a>
            <a class="menu-nav"> <i class="fa-solid fa-user"></i>
                <p>Jobs</p>
            </a>
            <a class="menu-nav"><i class="fa-solid fa-envelope"></i>
                <p>Mensajes </p>
            </a>
            <a class="menu-nav"> <i class="fa-solid fa-flag"></i>
                <p>Notificaciones</p>
            </a>
            <a class="menu-nav"><i class="fa-sharp fa-solid fa-gear"></i>
                <label for="me-toggle"> Configuracion</label>
                <input id="me-toggle" type="checkbox" />
                <div class="me-information-toggle">
                    <h3>Editar mi Perfil</h3>
                    <h3>Editar mi Cuenta</h3>
                    <h3>Upgrade to Premium</h3>
                    <h3>Editar un Producto</h3>
                    <h3>Centro de Ayuda</h3>
                    <h3>Cerrar Session</h3>
                </div>
            </a>
        </div>
    </nav>

    <div class="columnOne">
        <div class="user-profile-container">

            <div class="top-div">
                <img id="user-profile-picture" src="/images/logo/back.png" />
            </div>
            <div class="content-div">
                <div class="name-and-information">
                    <h1>Charlie Marcotte</h1>
                    <h2>Web & UX Developer</h2>
                </div>
                <div class="profile-stats">
                    <div class="info-container"><i class="fa-solid fa-bag-shopping"></i>
                        <h4>762 compras</h4>
                    </div>
                    <div class="info-container"><i class="fa-solid fa-box"></i>
                        <h4>40 ventas</h4>
                    </div>
                    <div class="info-container"><i class="fa-solid fa-pencil"></i>
                        <h4>12 Posts</h4>
                    </div>
                    <div class="info-container"><i class="fa-solid fa-gear"></i>
                        <h4>1 Pendiente</h4>
                    </div>
                    <div class="info-container"><i class="fa-solid fa-heart"></i>
                        <h4> 5 deseados</h4>
                    </div>
                    <div class="info-container"><i class="fa-solid fa-lock"></i>
                        <h4> verificado</h4>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>

        <div class="details">
            <div class="rating">
                <h6 class="primary-text"> 86% </h6>
                <h6 class="secondary-text"> Rating </h6>
            </div>
            <div class="activity">
                <h6 class="primary-text"> 92% </h6>
                <h6 class="secondary-text"> Activity </h6>
            </div>
        </div>

        <div class="aboutMe">
            <div class="describeMe">
                <h3> Sobre Mi : </h3>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus cum nobis culpa delectus,
                    perspiciatis cupiditate molestias, quasi veniam sit nihil ut odio omnis. Aut accusantium perferendis
                    consectetur quasi non. Sed! </p>
            </div>
        </div>

        <div class="links">
            <div class="socialsLink">
                <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://api.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
                <a href=""></a>
            </div>
        </div>

    </div>


</div>

<%- include('../partials/footer') %>



</body>